<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>BDD</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="./assets/index.css">
    <script>
        NodeList.prototype.indexOf = Array.prototype.indexOf; // for IE11
        if (window.global) {
            var win = require('nw.gui').Window.get();
            if (global.token.uid === 'x041007')
                win.showDevTools();
        }
    </script>

    <link href="/build/common/base.css" rel="stylesheet">
    <script type="text/javascript" src="/build/common/base.js"></script>
    <script type="text/javascript" src="/build/common/vueEdit-babel.js"></script>
    <!-- <script type="text/javascript" src="../../build/common/babel.min.js"></script> -->

    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="/node_modules/http-vue-loader/src/httpVueLoader.js"></script>
    <script src="/node_modules/vuex/dist/vuex.min.js"></script>

    <link rel="stylesheet" href="/node_modules/iview/dist/styles/iview.css">
    <script src="/node_modules/iview/dist/iview.min.js"></script>
    <script src="/node_modules/@form-create/iview/dist/form-create.min.js"></script>
    <script src="/node_modules/vue-i18n/dist/vue-i18n.js"></script>
    <script src="/node_modules/iview/dist/locale/en-US.js"></script>
    <script src="/node_modules/iview/dist/locale/zh-TW.js"></script>

    <script src="/node_modules/linq/linq.min.js"></script>
    <script src="/node_modules/pouchdb/dist/pouchdb.min.js"></script>
    <script src="/node_modules/pouchdb/dist/pouchdb.find.min.js"></script>

    <script defer="defer" src="/assets/js/Lodop.w.js" onload="console.log('Lodop.js loaded.');"
        type="text/javascript"></script>

    <script defer="defer" src="/node_modules/mockjs/dist/mock.js"
        onload="Mock.setup({timeout: 1000 }); Mock.mock( 'http\:\/\/abc.com/xyz', {isOk:true} );"
        type="text/javascript"></script>

    <!-- <script src="../node_modules/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <script src="../node_modules/ag-grid-vue/dist/ag-grid-vue.umd.min.js"></script>
    <link rel="stylesheet" href="../node_modules/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css"> -->
</head>

<body>
    <div class="fe-app" id="app" v-cloak>
        <div class="fe-toolbar">
            <i-button type="primary" shape="circle" icon="ios-search" @click="change"></i-button>
            <br>
            <i-button v-if="IN('admin')" type="warning" loading onclick="$.Toast.success('batch',this.innerText);">
                ....{{$store.state.token.uid}}</i-button>
        </div>

        <div class="fe-content">
            <keep-alive>
                <router-view class="RouterView" v-if="$route.meta.keepAlive"></router-view>
            </keep-alive>
            <router-view class="RouterView" v-if="!$route.meta.keepAlive"></router-view>
        </div>
    </div>
</body>

<script type="text/javascript">

    axios.defaults.baseURL = 'https://a.feg.com.tw';
    axios.defaults.withCredentials = true;
    axios.defaults.retry = 2;
    axios.defaults.retryDelay = 2000;
    console.dir(axios.defaults);

    const router = new VueRouter({
        routes: [{
            path: '/',
            component: httpVueLoader('./pages/index.vue?_t_=' + (new Date().getTime())),
            name: 'home',
            meta: { keepAlive: true },
            props: true
        },
        {
            path: '/login',
            component: { template: '<div>LOGIN </div>' },
            name: 'login',
        },
        { path: '*', redirect: "/" }],
        scrollBehavior(to, from, savedPosition) {
            return { x: 0, y: 0 };
        }
    })

    Vue.locale = () => { };

    const messages = {
        en: Object.assign({
            demo: {
                message: 'hello',
                start: 'start'
            },
        }, iview.langs['en-US']),
        zh: Object.assign({
            demo: {
                message: '你好',
                start: '起始时间'
            },
        }, iview.langs['zh-TW'])
    };

    const i18n = new VueI18n({
        locale: 'en',
        messages
    })

    const app = new Vue({
        el: '#app', i18n: i18n,
        store: new Vuex.Store({
            state: {
                token: null,
            },
            mutations: {
                login(state, userInfo) {
                    state.token = userInfo
                }
            }
        }),
        components: {
            // AgGridVue: window["ag-grid-vue"].AgGridVue
        },
        watch: {
            "$store.state.token"() {
                console.dir(this.$store.state);
            }
        },
        data: {

        },
        router: router,
        methods: {
            IN(role) {
                return (this.$store.state.token || { roles: [] }).roles.indexOf(role) > -1;
            },
            change() {
                this.$i18n.locale = (this.$i18n.locale == "en" ? "zh" : "en");

                axios.post("http\:\/\/abc.com/xyz", {})
                    .then(res => {
                        console.log('res=>', res);
                    });
            }
        },
        created: function () {

            // PouchDB.debug.enable('*');
            var db = new PouchDB('_MRO');
            db.createIndex({
                index: {
                    fields: ['action'],
                    name: 'indexAction'
                }
            }).then(function (res) { console.dir(res.result) });
            // db.destroy(function (err, response) { });

            db.sync(new PouchDB('http://ateam.apgusa.com/_MRO', {
                fetch: function (url, opts) {
                    // opts.headers.set('Access-Control-Allow-Credentials', 'true');
                    // opts.headers.set('Access-Control-Allow-Origin', '*');
                    // opts.mode = 'cors'; // no-cors
                    opts.credentials = true;
                    return PouchDB.fetch(url, opts);
                }
            }), {
                live: true,
                retry: true
            }).on('change', function (info) {
                // handle change
                console.dir("sync change")
            }).on('paused', function (err) {
                // replication paused (e.g. replication up to date, user went offline)
                console.dir("sync paused")
                if (err)
                    console.dir(err);
            }).on('active', function () {
                // replicate resumed (e.g. new changes replicating, user went back online)
                console.dir("sync active")
            }).on('denied', function (err) {
                // a document failed to replicate (e.g. due to permissions)
                console.dir("sync denied")
            }).on('complete', function (info) {
                // handle complete
                console.dir("sync complete")
            }).on('error', function (err) {
                // handle error
                console.dir("sync error")
            });

            // console.dir(new Date())
            // db.allDocs({ include_docs: true, attachments: true })
            //     .then(function (data) {
            //         console.dir(new Date())
            //         console.dir(data);
            //         var result = Enumerable.from(data.rows)
            //             .select((val, i) => ({ value: val.doc._id, index: i }))
            //             .toArray();
            //         console.dir(result);
            //         console.dir(new Date())
            //     });
            console.dir(new Date())
            db.find({
                selector: {
                    // _id: { $gte: null },
                    action: "GetManufacture"
                },
                limit: 1000
            })
                .then(function (data) {
                    console.dir(new Date())
                    var result = Enumerable.from(data.docs)
                        .select((val, i) => ({ value: val._id, index: i }))
                        .toArray();
                    console.dir(result)
                    console.dir(new Date())
                });

            /*/
            var db = new PouchDB('dbname');
            db.put({
                _id: new Date(),
                name: 'Shawn',
                age: 69,
                ver: 1
            }).then(function () {
                db.find({
                    selector: {
                        _id: { $gte: null },
                        name: "Shawn"
                    }
                })
                    .then(function (data) {
                        console.dir(data.docs);
                    });
            });
            /*/
            this.$store.commit('login', { uid: '041007', roles: ["admin", "manager"] });

            this.$router.beforeEach((to, from, next) => {
                if (this.$store.state.token || to.path === '/login')
                    next();
                else
                    next({ path: "/login" });
            });
        },
        mounted: function () {
            console.dir(this.$store.state.token);
            this.$router
                .push({ name: 'home', query: { r: (new Date()).getTime() } })
                .catch(data => {
                    console.log(data)
                });
        },
    })
</script>

</html>